@mixin reset() {
		ul {
		    list-style: none;
            margin: 0;
            padding: 0;
		}
		figure {
		    margin: 0;
		}
	    mark {
	        background: 0;
	        padding: 0;
	        display: block;
	    }
	    fieldset {
            border: 0;
            padding: 0;
            margin: 0;
	    }
        h1,h2,h3,h4 {
            margin: 0;
        }
        dl {
            margin: 0;
            > * {
                margin: 0;
            }
        }
        label {
            margin: 0;
        }
    }