
@mixin pull-right($i:null) {
  @if $i == true {
    float: right !important;
  }
  @else {
    float: right;
  }
}
@mixin pull-left($i:null) {
  @if $i == true {
    float: left !important;
  }
  @else {
    float: left;
  }
}

@mixin text-hide() {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
@mixin hidden() {
  display: none;
}

@mixin center-block() {
  margin-left: auto;
  margin-right: auto;
}


@mixin visuallyhidden() {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@mixin img-responsive() {
  max-width:100%;
  width:100%;
  height:auto;
}

@mixin img-link() {
  display: block;
  line-height: 1;
}

@mixin full-link() {
  @include make-full();
  z-index:10;
}
@mixin img-link{
  z-index:10;
}
@mixin text-center() {
  text-align:center;
}

@mixin make-full() {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@mixin inline-block() {
  display:-moz-inline-stack;
  display:inline-block;
  zoom:1;
  *display:inline;
}